<section class="changes">
  <div class="flex-container">
    <div class="flex-cell-1-2">
      <%= link_to "Add Race", new_race_path %>
    </div>
    <div class="flex-cell-1-2">
      <%= link_to "Add Character", new_character_path %>
    </div>
  </div>
</section>
