<h2>Races</h2>

<section>
  <div class="flex-container races">
  <% @races.each do |race| %>
  <div class="flex-cell-1-3 race">
    <h3><%= link_to race.species, race_path(race.id) %></h3>
    <div style="background-image: url('<%= race.insignia %>')" class="race-img"></div>
  </div>
  <% end %>
</div>
</section>
